#form{
    width: 80%;
    margin: auto;
    margin-top: 2em;
}

#legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}